$color-white: #FFF;
$color-primary: #20B79F;
$color-primary-dark: #073C32;
$color-yellow: #FFA610;
$color-orange: #EF7D00;
$color-orange-dark: #5D3A00;
$color-black: #343A40;
$color-grey: #E3E7EA;
$color-grey-light: #FAFAFA;
$color-red-dark: #A94442;
